.SharedQuiz_Frame {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 20px;
}

.text {
  font-size: 150%;
  font-family: "Binggrae";
  white-space: pre-wrap;
}

.SharedQuiz_Frame .btn {
  margin-top: 10px;
}

.SharedQuiz_Frame .tap-hint {
  font-size: 12px;
  color: #594b73;
  opacity: 0.5;
  position: absolute;
  bottom: 8px;
  font-family: "Noto Sans KR", sans-serif;
}
